<app-navbar></app-navbar>
<div class="row mt3">
    <div class="col lg6">
        <h3>Listado de comentarios</h3>
    </div>
    
</div>
<table ngif="listComentarios.length>0" class="table table-hover mt-3">
    <thead>
        <tr>
            <td>Titulo</td>
            <td>Creador</td>
            <td>Fecha</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let comentario of listComentarios">
            <td>{{comentario.nombres}}</td>
            <td>{{comentario.apellidos}}</td>
            <td>{{comentario.entidad}}</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    
    
    </table>