<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Correo</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
      <span class="fa fa-fw fa-y password-icon show-password"></span>
    </div>
    <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Mostrar Contraseña
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-info" routerLink="submit">Sign in</button>

      </div>
</form>