<form class="row g-3" [formGroup]="agregarComentarios" (ngSubmit)="agregar ()">
  <div class="col-md-6">
    <label for="text" class="form-label">Nombres</label>
    <input formControlName="nombres" class="form-control" id="text">
  </div>
  <div class="col-md-6">
    <label for="text" class="form-label">Apellidos</label>
    <input formControlName="apellidos" class="form-control" id="text">
  </div>
  <div class="col-12">
    <label for="text" class="form-label">Entidad</label>
    <input formControlName="entidad" class="form-control" id="text" placeholder="Apple">
  </div>
  <div class="col-12">
    <label for="text" class="form-label">fechaCreacion</label>
    <input formControlName="fechaCreacion" class="form-control" id="text" placeholder="mm/dd/aaaa">
  </div>
  <div>
  <button type="submit" class="btn btn-primary">agregar</button>
  </div>
  